@page
@model LogoutModel
@{
    ViewData["Title"] = "Finalizar la sesión";
}

<header>
    <h1 style="white-space: nowrap;">@ViewData["Title"]</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" style="place-content: center;">
                <button type="submit" class="btn btn-danger">Haga clic aquí para cerrar sesión</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
