<!DOCTYPE html>
<html lang="en">
<
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/_content/CommonsNuget/css/commons-ui.min.css" />
    <link href="/css/tailwind.css" rel="stylesheet" />
    <title>Test Tailwind</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    @RenderBody()
    <script src="~/_content/CommonsNuget/js/commons-ui.min.js"></script>
    @* <script src="https://kit.fontawesome.com/b091768c18.js" crossorigin="anonymous"></script> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
